.overlay-container
	position absolute
	width 100%
	height 100%
	background #1e1e1e radial-gradient( #333 , #1f1f1f )
	z-index 50
	opacity 0
	visibility hidden
	// transform skewY(-10deg) skewX(-7deg)
	transition all 200ms ease-out
	color white
	letter-spacing 0.2em
	text-transform uppercase
	line-height 1.5em
	padding 20px 40px
	box-sizing border-box
	overflow-y scroll
	-webkit-overflow-scrolling touch
	h2 
		font-weight 100
		font-size 1em
		margin-bottom 2em
	p 
		font-size 0.7em
	.team-member
		width 100%
	.name, .title
		font-size 0.7em
	.name
		font-weight 600
		font-size 0.8em
	.title
		font-weight 100
		float right
	.about-paradox
		width 40%
		float right
		height 100%
		text-align left
		box-sizing border-box
		padding 40px
	.credits
		width 60%
		float left
		height 100%
		text-align left
		box-sizing border-box
		padding 45px
		line-height 2.5em
		margin-top 50px
	+below(960px)
		.credits 
			width 100%
			float none
			height auto
			padding 10px
			font-size 14px
			line-height 1.5em
			.team-member 
				text-align left 
			.title 
				float none
				text-align left
				display block
				margin-bottom 20px
		.about-paradox 
			width 100%
			float none
			height auto
			padding 10px
			margin-top 50px
			p 
				font-size 12px
				text-transform none
	
.menu--active
	.overlay-container
		opacity 1
		visibility visible
		transition all 200ms ease-out
		// transform skewY(0deg) skewX(0deg)