<template name="overlay">
	<div class="overlay-container">
		<div class="credits">
			<h2>Credits</h2>
			
			<div class="team-member">
				<span class="name">Samantha Rohde</span> <span class="title">Co - Producer &amp; Graphic Designer</span>
			</div>
			<div class="team-member">
				<span class="name">Andrew Westmaas</span> <span class="title">Co-Producer / Audio</span>
			</div>
			<div class="team-member">
				<span class="name">Josh Pfaff</span> <span class="title">Director &amp; Film Editor</span>
			</div>
			<div class="team-member">
				<span class="name">Kong Thao</span> <span class="title">Chief Sound Supervisor</span>
			</div>
			<div class="team-member">
				<span class="name">Logan Sparlin</span> <span class="title">Digital &amp; Marketing Director</span>
			</div>

		</div>
		<div class="about-paradox">
			<h2>About this project</h2>
			<p>This project represents an idea that will start a world wide campaign emphasizing kindness.  This project is not about selling a product, but about promoting kindness and compassion. Paradox was created to evoke thought that leads to action and creating a long term, global "awakening" that will hopefully remind people that there is nothing more important than caring about the people around them. We live in a positive and progressive time and the goal is to turn our attention to life, love, and happiness and away from distractions.</p>
		</div>
	</div>
</template>