<template name="home">
	<nav class="slide-navigation">
		<ul>
			<li class="home"></li>
			<li class="smoke"></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li class="video"></li>
		</ul>
	</nav>
	<nav class="mobile-navigation">
		<button class="next">
			<div class="icon-container">
				<span class="next-label">Next</span>
				<i class="fa fa-chevron-down"></i>
			</div>
		</button>
		<button class="previous">
			<div class="icon-container">
				<i class="fa fa-chevron-up"></i>
				<span class="previous-label">Previous</span>
			</div>
		</button>
	</nav>

	<!-- Mouse Icon -->
	<div class="mouse-icon-container">
		<div class="mouse-icon">
			<div class="scroll-wheel"></div>
		</div>
		<span class="scroll">Scroll</span>
	</div>
	<!-- End Mouse Icon -->

	<div class="to-top-container">
		<div class="top-icon">
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
		<span class="to-top">Back to top</span>
	</div>


	<section class="landing">
		<div class="landing-left">
			<!-- <h3>Left Side</h3> -->
			<div class="landing-title left">
				paradox
			</div>
		</div>
		<div class="landing-right">
			<!-- <h3>Right Side</h3> -->
			<div class="landing-title right">
				paradox
			</div>
		</div>
	</section>

	<section class="section-one">
		<div class="image-container"></div>
		<h1>We smoke too much</h1>
	</section>

	<section class="section-two">
		<div class="image-container-left"></div>
		<div class="image-container-right"></div>
		<h1>We laugh too little,<br/><span class="part-two">and get too angry</span></h1>
	</section>

	<section class="section-three">
		<span class="image-container"></span>
		<h1>We stay up too late<br/>&amp; get up too tired</h1>
	</section>

	<section class="section-four">
		<span class="image-container"></span>
		<h1>We love too seldom<br/>&amp; lie too often</h1>
	</section>

	<section class="section-five">
		<span class="image-container"></span>
		<span class="positive-message">Remember to say "I love you" to your partner &amp; loved ones, but most of all mean it.</span>
	</section>

	<section class="video-slide">
		<div class="video-player">
			<iframe src="https://player.vimeo.com/video/125149868" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</section>
</template>