<template name="home">
	<nav class="slide-navigation">
		<ul>
			<li class="home"></li>
			<li class="smoke"></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</nav>
	<section class="landing">
		<div class="landing-left">
			<!-- <h3>Left Side</h3> -->
			<div class="landing-title left">
				paradox
			</div>
		</div>
		<div class="landing-right">
			<!-- <h3>Right Side</h3> -->
			<div class="landing-title right">
				paradox
			</div>
		</div>
	</section>

	<section class="section-one">
		<div class="image-container"></div>
		<h1>We drink too much</h1>
	</section>

	<section class="section-two">
		
	</section>

	<section class="section-three">
		
	</section>

	<section class="section-four">
		
	</section>

	<section class="section-five">
		
	</section>
</template>